{% extends 'default.html' %}
{% load custom_filters %}
{% load i18n %}

{% block title %}
  {% if post.post_type == "N" %}
    {% trans 'News' %}
  {% else %}
    {% trans 'Article' %}
  {% endif %}
{% endblock title %}

{% block posts_content %}
  <body>
    <h1>{{ post.title }}</h1>
    <p>{% trans 'Author' %}: {{ post.author.user.username | censor}}  {% trans 'Publication date' %}: {{ post.time_created | date:'d M Y' }}</p>
    <p>{% trans 'Categories' %}:
      {% for cat in post.category.all %}
        <span> {{ cat.name }} </span>
      {% endfor %}
    </p>

    <p>
      post_type ==
      {% if post.post_type == "N" %}
        {% trans 'News' %}
      {% else %}
        {% trans 'Article' %}
      {% endif %}
    </p>

    <hr>

    {% if post.text %}
      <p>{{ post.text | censor }}</p>
    {% else %}
      <h3>{% trans 'No text' %}</h3>
    {% endif %}


    {% if request.user == post.author.user %}
    <p>
      <a href="/news/{{ post.pk }}/edit/">{% trans 'Edit' %}</a>
      |
      <a href="/news/{{ post.pk }}/delete/">{% trans 'Delete' %}</a>
    </p>
    {% endif %}

    <p>{% trans 'Rating' %}: {{ post.rating }}</p>
  </body>
{% endblock posts_content %}
