{% extends 'default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load i18n %}

{% block title %}
  {% trans 'Posts' %}
{% endblock title %}


{% block posts_content %}
  <body>
  <h1>{% trans 'All articles' %}</h1>
  <h3><a href="/news/search/">{% trans "Search" %}</a></h3>
  <h3><a href="/news/create/">{% trans "Write a news" %}</a></h3>
  <h3><a href="/articles/create/">{% trans "Write an article" %}</a></h3>
  {% if request.user.is_authenticated %}
  <p>{% trans "If you want to subscribe to a specific category, go to" %}
    <a href="{% url 'user_profile' request.user.id %}">{% trans "personal account" %}</a>.
  </p>
  {% else %}
    <p>{% trans "If you want to subscribe to a specific category, go to personal account." %}</p>
  {% endif %}

  {# Filtersts #}
  {% if filterset %}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value={% trans "Find" %} />
   </form>
  {% endif %}

  <hr>

  {% if posts %}
    {% for post in posts %}
      <h3><a href="{% url 'news_detail' post.id %}">{{ post.title }}</a></h3>(post.pk={{ post.pk }})
      <p>{% trans "Author" %}: {{ post.author.user.username | censor }} ({% trans дата %}: {{ post.time_created | date:'d M Y' }})</p>
      <p>{% trans "Categories" %}:
        {% for cat in post.category.all %}
          <span> {{ cat.name }} </span>
        {% endfor %}
      </p>
      <p>post_type == {{ post.post_type }}</p>
      {{ post.preview | censor }}
      <hr>
    {% endfor %}
  {% else %}
    <h2>{% trans "No articles have been published" %}</h2>
  {% endif %}

  {#    Пагинатор  #}
  <div align="center">
    <h3>
      {% if page_obj.has_previous %}
            <a href="?{% url_replace page=page_obj.previous_page_number %}">&lt;&lt;{% trans "Back" %} &nbsp</a>
  {#          <a href="?page=1">1</a>#}
            <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
          ...
          <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
      {% endif %}

      {{ page_obj.number }}

      {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>

        {% if paginator.num_pages != page_obj.next_page_number %}
          ...
          <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
        {% if page_obj.has_next %}
          <a href="?{% url_replace page=page_obj.next_page_number %}">&nbsp {% trans 'Forward' %}&gt;&gt;</a>
        {% endif %}
      {% endif %}
    </h3>
  </div>

  </body>
{% endblock posts_content %}

