{% extends 'default.html' %}
{% load custom_filters %}

{% block title %}
Статья
{% endblock title %}

{% block content %}
  <body>
    <h1>{{ post.title }}</h1>
    <p>Автор: {{ post.author.user.username | censor}}  Дата публикации: {{ post.time_created | date:'d M Y' }}</p>
    <p>Категории:
      {% for cat in post.category.all %}
        <span> {{ cat.name }} </span>
      {% endfor %}
    </p>

    <p>post_type == {{ post.post_type }}</p>

    <hr>

    {% if post.text %}
      <p>{{ post.text | censor }}</p>
    {% else %}
      <h3>Текст отсутствует</h3>
    {% endif %}

    <p>Рейтинг: {{ post.rating }}</p>
  </body>
{% endblock content %}
