{% extends 'default.html' %}
{% load custom_filters %}
{% load i18n %}

{% block title %}
{{ user.username | capfirst }}
{% endblock title %}

{% block posts_content %}
  <body>
    <h1>{{ user.username }}</h1>
    <p>{% trans 'Name' %}:
      {% if user.first_name %}
        {{ user.first_name | capfirst}}
      {% else %}
        .......
      {% endif %}
    </p>
    <p>{% trans 'Surname' %}:
      {% if user.last_name %}
        {{ user.last_name | capfirst}}
      {% else %}
        .......
      {% endif %}
    </p>
    <p>
      {% trans 'Mail' %}: {{ user.email }}
    </p>
    <p>
      {% trans 'Access level' %}:
      {% if is_not_premium %}
        {% trans 'You are not the author! You can view and comment on articles. If you want to become an author, go to' %}
        <a href="/upgrade/">{% trans 'link' %}.</a>
      {% else %}
        {% trans 'You have access to: creating, editing and commenting on articles' %}.
      {% endif %}
    </p>
    <p>
      <a href="/user_profile/{{ user.pk }}/subscriptions/">{% trans 'Subscription management' %}</a>
    </p>
    <p>
      <a href="{% url 'account_change_password' %}">{% trans 'Change password' %}</a>
    </p>
    <p>
      <a href="{% url 'account_email' %}">{% trans 'Change Mail' %}</a>
    </p>
  </body>
{% endblock posts_content %}


